.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.slider_container{
  position: relative;
  ion-slides{
    height:100px;
    background: #e8e8e8;
    border-bottom: 2px solid #a9a9a9;
    --bullet-background: var(--ion-color-step-200,#000000);
  }
}

ion-content.home_container{
  h2{
    margin: 0px;
    padding: 20px 0px;
    font-size: 24px;
    background: #3498db;
    color: #fff;
    text-align: center;
  }
}