<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home_container">
  <h2>To-Do</h2>
  <div class="slider_container todo_list_slider">
    <ion-slides #todo_list pager="true" [options]="slide_options">
      <ion-slide>
        <h3>test</h3>
      </ion-slide>
      <ion-slide>
        <h3>test</h3>
      </ion-slide>
      <ion-slide>
        <h3>test</h3>
      </ion-slide>
    </ion-slides>
    <div class="swiper-button-next" (click)="slideSection(1,false)"></div>
    <div class="swiper-button-prev" (click)="slideSection(1,true)"></div>
  </div>

  <h2>Shopping</h2>
  <div class="slider_container shopping_list_slider">
    <ion-slides #shopping_list pager="true" [options]="slide_options">
      <ion-slide>
        <h3>test</h3>
      </ion-slide>
      <ion-slide>
        <h3>test</h3>
      </ion-slide>
      <ion-slide>
        <h3>test</h3>
      </ion-slide>
    </ion-slides>
    <div class="swiper-button-next" (click)="slideSection(2,false)"></div>
    <div class="swiper-button-prev" (click)="slideSection(2,true)"></div>
  </div>

  <h2>Balance</h2>
  <div class="slider_container balance_list_slider">
    <ion-slides #balance_list pager="true" [options]="slide_options">
      <ion-slide>
        <h3>test</h3>
      </ion-slide>
      <ion-slide>
        <h3>test</h3>
      </ion-slide>
      <ion-slide>
        <h3>test</h3>
      </ion-slide>
    </ion-slides>
    <div class="swiper-button-next" (click)="slideSection(3,false)"></div>
    <div class="swiper-button-prev" (click)="slideSection(3,true)"></div>
  </div>
</ion-content>
