<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size=2>
          <ion-button class="header_menu">
            <ion-icon name="menu"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size=8>
          <ion-title>
            Balance
          </ion-title>
        </ion-col>
        <ion-col size=2>
          <ion-button class="header_add">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-transaction-items [title]="title" [items]="transactions"></app-transaction-items>
</ion-content>

